 {% extends 'index.html' %}
 {% load static %}


{% block title %}About Prudent Analytika{% endblock %}

{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=/static/css/about.css>
<title>Prudent</title>
</head>
<body style="background-color:powderblue;">
<font face="Times New Roman,Times"></font>
<h1   align="center">Prudent Analytika</h1>
<br></br>
<h2   align="left"><u> About Prudent Analytika:</u>
</h2>
<p1>
Prudent Analytika is a data analytics software company that uses computer software tools and services  to analyse streams of data from Business units, Schools and other Organizations where the science of data analysis can be applied, with the aim of automating routine tasks and extracting raw data that will be processed into useful information for a more efficient functioning of the organization . Our aim is to apply data science to our client organization, so as to improve productivity and make the organization more efficient.
</p1>
<br></br>
<h2   align="left"><u> Products and Services:</u>
</h2>
<p2>
Prudent Analytika have developed suites of proprietry data analytics software programs, customized to provide the following services to:
</p2>
<h3  align="left"><u> Schools:</u>
</h3>

<li type="square"> Creation of dynamic school website
</li>
<li type="square"> Automated school term result-sheet processing </li>
 
<li type="square"> Automated students result computation (offline & online) </li>
 
<li type="square"> Maintenance of an updated database of client school
</li>
<li type="square"> Students and staff record management </li>
 
<li type="square"> Organization dynamics analysis </li>
 
<li type="square"> Students counselling for better performance </li>
 
<li type="square"> Consulting and recruitment services
</li>
 
<li type="square"> Computer lab networking
</li>
 
<li type="square"> Installation of educational software
</li>
 
<h3  align="left"><u> Business units/Organizations:</u>
</h3>

<li type="square"> Creation of commercial website
</li>
<li type="square"> Software development
</li>
 
<li type="square"> Market research/analysis
</li>
 
<li type="square"> Recruitment services

</li>
 
<li type="square"> Database administration
</li>
<li type="square"> Staff ICT training services
 </li>
 
<li type="square"> Organization dynamics analysis </li>
 
<li type="square"> Technology integration and business consulting for better performance </li>
 
<li type="square"> Computer networking & IT solution</li>
 
<h3  align="left"><u> Subscription packages:</u>
<p> We have two service packages available to our clients which includes:

<li type="square"> <u>Premium package:</u>The premium package includes the full range of our services.
</li>
<br></br>
<li type="square"> <u>Standard Package:</u> The standard package is designed to meet the limited needs of our clients
 </li>
 <br>
           <b>Address:</b>Off Abundant Grace Church, Milikwe road Nnewi, Anambra state Nigeria.
           <br>
            <b>Email:</b>Prudentanalytika.gmail.com
           <br>
           <b>Phone:</b> 08067674993
           <br>
          <div class="card" style="width: 18rem;">
          <a href= "{% static 'img/portfolio/prudent.png' %}" >
            <img class="card-img-top" src="{% static 'img/portfolio/prudent.png' %}" height="200"  width="300"  align= "left" alt="logo"" alt="logo">
            </a>
     <div class="card-body">
      <p class="card-text">Contact us today, let's take your business to a higher level.</p>
  </div>
</div>
<center><small>Copyright &copy; Prudentanalytika.org</small></center>
 
 <br></br>
 
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
